extends layout

block content
    h1= title
    p Welcome to Items


        each item in items
            .div
                p #{item.id}
                p #{item.text}
                p #{item.complete}

